a:hover {
  background-color: purple;
}

.navbar {
  margin-bottom: 0px;
  height: 100px;
  background-color: rgba(175, 204, 220, 0.5);
  border-bottom: solid;
  border-color: #67818c;
  -webkit-box-shadow: 0 0 50px 0 rgba(0,0,0,1);
  box-shadow: 0 0 50px 0 rgba(0,0,0,1);
}

.navbar-brand {
  margin-top: 15px;
}

.navbar-brand:hover {
  background-color: purple;
}

.nav-pills .nav-link.active {
	background-color: #002968;
	color: white;
}

.navbar-light .navbar-nav .nav-link.active {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	background-color: transparent;
}

.navbar-light .navbar-brand:hover {
	background-color: transparent;
	opacity: 0.5;
}