/*.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  .scroll-to-top:hover {
    background-color: red;
  }
  .scroll-to-top i {
    font-weight: 800;
  }

  #scroll-button:hover {
    background-color: red;
  }*/

/*#scroll-button {
  bottom: 120;
}
*/
.gm-style {
  -webkit-box-shadow: 0 0 100px 0 rgba(0,0,0,1);
  box-shadow: 0 0 100px 0 rgba(0,0,0,1);
}

.listbackground {
  background: url(../../images/blurryFlag.png) no-repeat center center fixed;
  background-size: cover;
}

.map-scroll {
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
}

