.dropdown-menu {
	left: auto;
	right: 0;
	margin-right: 15px;
}

.open .dropdown-menu {
    opacity: 0;
}

.navbar {
  margin-bottom: 0px;
}

#home-icon {
    height: 105px;
    width: 135px;
    margin-top: -40px;
    margin-left: -20px;
}

#home-icon:hover {
	-webkit-filter: opacity(0.7);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/*#profile-icon:hover {
	-webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.dropdown-menu:hover {
	-webkit-filter: brightness(0%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}*/

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	background-color: transparent;
}