.jumbotron {
	border: .5px solid grey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.media-object {
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 20px;
}

img.media-left {
	margin-bottom: 30px;
}

.media-body {
	margin: -6px;
}

